/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    display: flex;
}
 
.part-1 {
    width: 35%;
    height: 100vh;
    background-image: url("/images/landscape.svg");

}

.logo {
    display: flex;
    width: auto;
    height: 6rem;
    font-size: 4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30%;
}

.logo img {
    width: 5rem;
    height: 3.9rem;
    filter: invert(1);
}


.part-2 {
    width: 65%;
    height: 100vh;
}


.main {
    margin: 15% 2rem;
}

form {
    margin-top: 70px;
}

legend {
    font-size: 18px;
    color: rgb(57, 168, 125);
    font-weight: bold;
}

fieldset div {
    margin: 15px -3px;
    display: flex;
    gap: 4rem;
}


label {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
}

input:invalid {
  border: red 2px solid;
  border-radius: 5%;
  opacity: .5;
}

input:valid {
    border: rgb(13, 255, 13) 2px solid;
    border-radius: 5%;
    opacity: .5;
}